// Specific CSS for your home-page
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}

.card-img-top {
  height: 250px;
}

.body-card {
  padding: 15px;
}

.card {
  height: 450px;
  margin-top: 15px;
}

.fas {
  margin: 0 3px;
}
.pricenumber {
  margin: 0 3px;
}
