// Specific CSS for your home-page
.card-img-top {
  height: 250px;
}

.body-card {
  padding: 15px;
}

.card {
  height: 420px;
  margin-right: 15px;
}

.fas {
  margin: 0 3px;
}
.pricenumber {
  margin: 0 3px;
}
